<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        post_url = "{% url 'api-register' %}";
        get_url = "{% url 'api-tradeHistory' %}";
        csrf = "{{ csrf_token }}";
    </script>
    <script src = "{% static 'javascript/index.js' %}"></script>
</head>
<body>
    <ul class="trading">
        <li><a href = "/home">Home</a></li>
        <!-- <li><a href = "../login">Login</a></li> -->
        <!-- <li><a href = "../sign_up">Register</a></li> -->
        <!-- <li><a href = "../userpage">UserPage</a></li> -->
    </ul>
</body>
</html>