.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main {
  position: absolute;
  width: 253px;
  height: 63px;
  left: 594px;
  top: 238px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}

.loginbox {
  box-sizing: border-box;

  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
  top: 100px;
  
  /* top: calc(50% - 828px/2 + 39px); */

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 64px;
}

.Navbar {
  /* position: absolute; */
  width: 1440px;
  height: 63px;
  left: calc(50% - 1440px/2 - 1px);
  top: calc(50% - 63px/2 - 503.5px);

  background: #2E581F;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}
